
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    background-color: #1f79e7;
    color: #000000;
    position: relative;
}
#scramble{
    position: relative;
    text-align: center;
    top: 30vh;
    font-size: 2.7vmax;
    font-weight: bold;
    margin-top: 20px;
}
#headline{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 10vh;
    left: 50%;
    font-size: 2.7vmax;
    font-weight: bold;
    margin-top: 20px;
}

#NumberS{
    position: fixed;
    bottom: 5vh;
    left: 0;
    font-size: 2.2vmax;
    font-weight: bold;
    margin-top: 20px;
}
#Bsolve{
    position: fixed;
    bottom: 10vh;
    left: 0;
    font-size: 2.2vmax;
    font-weight: bold;
}

#Ao5{
    position: fixed;
    bottom: 0vh;
    left: 0;
    /* top: 50vh; */
    font-size: 2.2vmax;
    font-weight: bold;
    margin-top: 20px;
}

#Ao12{
    position: fixed;
    bottom: 5vh;
    right: 0;
    font-size: 2.2vmax;
    font-weight: bold;
    margin-top: 20px;
}
#Ao50{
    position: fixed;
    bottom: 0vh;
    right: 0;
    font-size: 2.2vmax;
    font-weight: bold;
    margin-top: 20px;
}

#Wsolve{
    position: fixed;
    bottom: 10vh;
    right: 0;
    font-size: 2.2vmax;
    font-weight: bold;
    margin-top: 20px;
}
#plus-two{
position: absolute;
    top: 70vh;
    left: 35%;                   /* Moves the left edge to the middle of the screen */
    transform: translateX(-50%); /* Shifts it back by half its width to center it perfectly */
    display: flex;               /* Uses Flexbox to align the buttons inside */
    justify-content: center;     /* Centers the buttons inside the container */
    align-items: center;         /* Aligns them vertically */
    gap: 20px;                   /* Sets a permanent, fixed space between the buttons */
    
    width: auto;
}

#delete{
position: absolute;
    top: 70vh;
    left: 64.5%;                   /* Moves the left edge to the middle of the screen */
    transform: translateX(-50%); /* Shifts it back by half its width to center it perfectly */
    display: flex;               /* Uses Flexbox to align the buttons inside */
    justify-content: center;     /* Centers the buttons inside the container */
    align-items: center;         /* Aligns them vertically */
    gap: 20px;                   /* Sets a permanent, fixed space between the buttons */
    
    width: auto;
}

#History1{
    
    position: fixed;
    top: 5vh;          /* Clean distance from the top edge */
    right: 20px;        /* Clean distance from the right edge */
    display: flex;
    width: auto;
}
#deletesolve{
    position: fixed;
    top: 5vh;          /* Clean distance from the top edge */
    left: 20px;        /* Clean distance from the right edge */
    display: flex;
    width: auto;
}
#chooseCube{ 
    position: fixed;
    top: 5vh;          /* Clean distance from the top edge */
    left: 20px;        /* Clean distance from the right edge */
    display: flex;
    width: auto;
}
#display{
    position: relative;
    top: 10vh;
}
.arrow {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: auto; height: auto; font-size: 4dvh; font-weight: bold; margin: 4px; cursor: pointer; background: #0e0f0f; border: 2px solid #caecd6; color: #ffffff; border-radius: 12px;
}
#timer{
    position: relative;
    text-align: center;
    top: 60vh;
    font-size: 2.5vmax;
    font-weight: bold;
    margin-top: 20px;
}
